<style>
  .user-content h2 {
    margin: 1em 0 15px;
    font-size: 27.5px;
  }
  .container {
    padding-bottom: 60px;
  }
</style>

<div class="container">
  <div class="page-header cf">
    <h1 class="majortitle" style="text-align: center">{{title}}</h1>
  </div>

  <div class="user-content row-spacing lightboximages">
    <div id="contact" class="clearfix">
      <agm-map [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom">
        <agm-marker [latitude]="map.lat" [longitude]="map.lng" [title]="map.title">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
              <p class="info-window-title">Tin Kitchen</p>
              <p>2 The Quadrangle, High Wycombe HP13 7QR</p>
              <p>M: 07794 742223</p>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
