/*nav a {*/
    /*color: #8a8f93;*/
  /*font-size: 12px;*/
/*}*/
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  /* max-width: 960px; */
  max-width: 1078px;
}

header {
  margin: 0 auto;
}

header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}

#navbar-primary nav {
  background: transparent;
  border: none;
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  display: inline-block;
  float: none;
}
.navbar-nav > a {
  padding-left: 30px;
  padding-right: 30px;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

section, .container, .container-fluid {
  position: relative;
  word-wrap: break-word;
}

section {
  background-color: #eeeeee;
}

footer i {
  display: block;
  text-align: center;
  width: 9%;
  float: left;
  font-size: 1.7em;
}

footer {
  font-size: 1.3em;
}

footer p {
  margin-bottom: 20px;
}

.social-bar {
  text-align: center;
}

.social-bar a {
  margin-right: 11px;
  display: inline-block;
  font-size: 1.20em;
  text-decoration: none;
  color: #057388;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 350ms ease;
  -moz-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  -webkit-appearance: none;
}

.btn-floating {
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  /*overflow: hidden;*/
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /*margin: 10px;*/
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.btn-floating a {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.links a{
  cursor: pointer;
  text-decoration: none;
  color: #00afd1;
}

.address p {
  color: #616060;
}
