<!--<div class="hero-text">-->
  <!--<h1 style="font-size:50px">Tin Kitchen</h1>-->
  <!--<p [innerHTML]="welcome"></p>-->
  <!--&lt;!&ndash;<button>hello</button>&ndash;&gt;-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-1"></div>-->
  <!--<div class="col-4">-->
    <!--<div class="card-deck mb-3 text-center text-white float-md-left">-->
      <!--<div class="card bg-gray-transparent mb-4 box-shadow">-->
        <!--<div class="card-body">-->
          <!--<h1 class="card-title pricing-card-title">Tin Kitchen</h1>-->
          <!--<ul class="list-unstyled mt-3 mb-4">-->
            <!--<li [innerHTML]="welcome"></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="welcome-section">
<section class="intro-title">
  <h1>Tin Kitchen</h1>
  <div class="intro-text" [innerHTML]="welcome"></div>

  <div class="social-bar">
    <a href="#" class="fa fa-instagram tooltipped" title="" data-original-title="Instagram"></a>
    <a href="#" class="fa fa-facebook-square tooltipped" title="" data-original-title="Facebook"></a>
    <a href="#" class="fa fa-pinterest-square tooltipped" title="" data-original-title="Pinterest"></a>
    <a href="#" class="fa fa-google-plus-square tooltipped" title="" data-original-title="Google+"></a>
    <a href="#" class="fa fa-linkedin-square tooltipped" title="" data-original-title="LinkedIn"></a>
  </div>
</section>
</div>
<section style="display:block;background-color: white; width: 100%; font-size: 12px;">
<div class="container strongly-padded-row layout-content-with-image-right valign-middle cf">
  <div class="content user-content">
    <h1 class="majortitle in-content" style="font-size: 30px">Meet Aimee &amp; Ross</h1>
    <div class="user-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suscipit tellus mauris a diam maecenas sed enim. Netus et malesuada fames ac turpis. Enim lobortis scelerisque fermentum dui faucibus in.</p></div>
  </div>
  <div class="image-cont">
    <img src="//cdn.shopify.com/s/files/1/0248/2461/files/mom_800x.jpg?v=1486174968" alt="">
  </div>

  </div>
</section>


